//filter color
.multicolor {
    background: url(../img/multicolor.jpg) no-repeat!important;
    background-position: center!important;
    background-size: contain!important;
}
.c1 {
    background: $black!important;
}

.c2 {
    background: $grey!important;
}

.c3 {
    background: $blue!important;
}

.c4 {
    background: $yellow!important;
}

.c5 {
    background: $green!important;
}

.c6 {
    background: #FF4081!important;
}

.c7 {
    background: #1DE9B6!important;
}

.c8 {
    background: #651FFF!important;
}

.c9 {
    background: #FF9100!important;
}

.c10 {
    background: #00E676!important;
}

.c11 {
    background: #FF4081!important;
}