@keyframes glitchTxt {
    from {
        text-shadow: 0 0px 0px $black;
    }
    20% {
        text-shadow: 2px -2px 0px $red;
        transform: translate3d(1px, 1px, 0);
    }
    40% {
        text-shadow: -2px 1px 0px $red;
        transform: skewX(-2deg);
    }
    60% {
        text-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        transform: translate3d(-1px, -2px, 0);
    }
    80% {
        text-shadow: -1px -2px 0px $black;
    }
    to {
        text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        transform: skewX(2deg);
    }
}

@keyframes glitchBox {
    from {
        box-shadow: 0 0px 0px $black;
    }
    20% {
        box-shadow: 2px -2px 0px $red;
        transform: translate3d(1px, 1px, 0);
    }
    40% {
        box-shadow: -2px 1px 0px $red;
        transform: skewY(-2deg);
    }
    60% {
        box-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        transform: translate3d(-0px, -2px, 0);
    }
    80% {
        box-shadow: -1px -2px 0px $black;
    }
    to {
        box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        transform: skewZ(2deg);
    }
}

@keyframes glitchSVG {
    from {
        -webkit-filter: drop-shadow( 0 0px 0px $black);
        filter: drop-shadow( 0 0px 0px $black);
    }
    20% {
        -webkit-filter: drop-shadow( 2px -2px 0px $red);
        filter: drop-shadow( 2px -2px 0px $red);
        transform: translate3d(1px, 1px, 0);
    }
    40% {
        -webkit-filter: drop-shadow( -2px 1px 0px $red);
        filter: drop-shadow( -2px 1px 0px $red);
        transform: skewX(-3deg);
    }
    60% {
        -webkit-filter: drop-shadow( 2px 1px 0px rgba(255, 0, 0, 0.2));
        filter: drop-shadow( 2px 1px 0px rgba(255, 0, 0, 0.2));
        transform: translate3d(-1px, -2px, 0);
    }
    80% {
        -webkit-filter: drop-shadow( -1px -2px 0px $black);
        filter: drop-shadow( -1px -2px 0px $black);
    }
    to {
        -webkit-filter: drop-shadow( 0px 0px 0px rgba(255, 0, 0, 0.2));
        filter: drop-shadow( 0px 0px 0px rgba(255, 0, 0, 0.2));
        transform: skewX(3deg);
    }
}

@keyframes glitch {
    from {
        text-shadow: 0 0px 0px $black;
        box-shadow: 0 0px 0px $black;
    }
    20% {
        text-shadow: 2px -2px 0px $red;
        box-shadow: 2px -2px 0px $red;
        transform: translate3d(1px, 1px, 0);
    }
    40% {
        text-shadow: -2px 1px 0px $red;
        box-shadow: -2px 1px 0px $red;
        transform: skewY(-2deg);
    }
    60% {
        box-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        box-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        transform: translate3d(-1px, -2px, 0);
    }
    80% {
        text-shadow: -1px -2px 0px $black;
        box-shadow: -1px -2px 0px $black;
    }
    to {
        text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        transform: skewX(2deg);
    }
}

@keyframes glitchBag {
    from {
        text-shadow: 0 0px 0px $black;
        box-shadow: 0 0px 0px $black;
    }
    20% {
        text-shadow: 2px -2px 0px $red;
        box-shadow: 2px -2px 0px $red;
        transform: translate3d(1px, 1px, 0)rotate(45deg);
    }
    40% {
        text-shadow: -2px 1px 0px $red;
        box-shadow: -2px 1px 0px $red;
        transform: skewY(-2deg) rotate(45deg);
    }
    60% {
        box-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        box-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
        transform: translate3d(-1px, -2px, 0) rotate(45deg);
    }
    80% {
        text-shadow: -1px -2px 0px $black;
        box-shadow: -1px -2px 0px $black;
    }
    to {
        text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
        transform: skewX(2deg) rotate(45deg);
    }
}

@keyframes glitchVideoBtn {
    from {
        text-shadow: 0 0px 0px $black;
    }
    20% {
        text-shadow: 2px -2px 0px $red;
    }
    40% {
        text-shadow: -2px 1px 0px $red;
    }
    60% {
        text-shadow: 2px 1px 0px rgba(255, 0, 0, 0.2);
    }
    80% {
        text-shadow: -1px -2px 0px $black;
    }
    to {
        text-shadow: 0px 0px 0px rgba(255, 0, 0, 0.2);
    }
}