/* IMPORT ICON */
@font-face {
    font-family: '6ics-icon';
    src: url('../fonts/6ics-icons/6ics-icon.eot');
    src: url('../fonts/6ics-icons/6ics-icon.eot') format('embedded-opentype'), url('../fonts/6ics-icons/6ics-icon.ttf') format('truetype'), url('../fonts/6ics-icons/6ics-icon.woff') format('woff'), url('../fonts/6ics-icons/6ics-icon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 6ICS ICONS */
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '6ics-icon' !important; //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 


.icon-logo:before {
    content: "\e90b";
}

.icon-bag:before {
    content: "\e900";
}

.icon-close:before {
    content: "\e901";
}

.icon-footer:before {
    content: "\e902";
}

.icon-filter:before {
    content: "\e903";
}

.icon-music-on:before {
    content: "\e904";
}

.icon-play:before {
    content: "\e905";
}

.icon-playlist:before {
    content: "\e906";
}

.icon-search:before {
    content: "\e907";
}

.icon-sneacker:before {
    content: "\e908";
}

.icon-user:before {
    content: "\e909";
}

.icon-vr:before {
    content: "\e90a";
}