@import 'bootstrap';
@import 'perfect-scrollbar.css';
@import 'fonts.scss';
@import 'icons.scss';
@import 'colors.scss';
@import 'filter-colors.scss';
@import 'glitch.scss';
@import 'img-glitch.scss';
/* FONT variables */

$primary-font-b: 'GrifoBold',
serif;
$primary-font-l: 'GrifoLight',
serif;
$body-font: 'Open Sans',
sans-serif;
/* MIXIN */

@mixin input-style($width, $color) {
    padding: 8px;
    width: $width;
    background: transparent;
    outline: none;
    border: none;
    color: $color;
    border-bottom: 1px solid $color;
}

@mixin btn-style($fontColor, $bckColor) {
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    color: $fontColor;
    border: 1px solid $bckColor;
    background: $bckColor;
    font-family: $body-font;
    text-transform: uppercase;
    &:hover {
        animation: glitch 0.3s;
    }
}

@mixin btn-reset() {
    display: block;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    i {
        font-size: 14px;
    }
    &:hover i {
        animation: glitchTxt 0.3s;
    }
}

@mixin gredient-white() {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

@mixin gredient-black() {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=0);
}

button {
    outline: none !important;
    cursor: pointer !important;
}

/* 6ICS CSS */

html {
    font-size: 1em;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: $body-font;
    font-weight: 400;
    line-height: 1.45;
    color: $black;
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    font-size: 1.414em;
}

small,
.font_small {
    font-size: 0.707em;
}

.main-container {
    position: relative;
    width: 100%;
    height: auto; //overflow: auto;
}

/* MAIN NAVIGATION */

.main-nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 9999;
    .menu-gredient-white {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;
        z-index: -1;
        @include gredient-white();
    }
    .menu-gredient-black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        z-index: -1;
        @include gredient-black();
    }
    .brand-logo-nav {
        position: relative;
        display: block;
        margin: 10px auto;
        width: 45px !important;
        svg {
            width: 100%;
            transition: all 0.3s;
            opacity: 1;
        }
        &:hover svg {
            opacity: 0;
        }
        .logo-txt {
            opacity: 0;
            font-family: $primary-font-l;
            letter-spacing: 3px;
            position: absolute;
            top: calc(50% - 5px);
            left: 50%;
            font-size: 42px;
            transform: translate3d(-50%, -50%, 0);
            transition: all 0.3s;
        }
        &:hover .logo-txt {
            opacity: 1 !important;
            animation: glitch-anim-text 2s infinite;
        }
    }
    .shop-btn,
    .filter-btn {
        position: absolute;
        top: 20px;
        left: 10px;
        @include btn-reset();
        i {
            font-size: 22px;
            &:after {
                position: absolute;
                content: attr(data-name);
                font-family: $body-font;
                font-size: 12px;
                top: 8px;
                right: -20px;
                opacity: 0;
                transition: 0.3s
            }
        }
        &:hover i {
            animation: glitchTxt 0.3s;
        }
        &:hover i:after {
            opacity: 1;
            right: -40px;
        }
    }
    .nav-items {
        position: absolute;
        top: 22px;
        right: 120px;
        width: 200px;
        list-style: none;
        li {
            float: left;
            padding: 0 8px;
            button {
                position: relative;
                display: inline-block;
                background: transparent;
                border: none;
                &:hover i {
                    animation: glitchTxt 0.3s;
                }
                i {
                    font-size: 20px;
                }
            }
            .bag-btn {
                &:hover .products-number-bag:before {
                    animation: glitchBag 0.3s;
                }
                .products-number-bag {
                    position: absolute;
                    top: calc(50% - 2px);
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: 20px;
                    height: 20px;
                    font-size: 13px;
                    padding: 1px 0 0 0;
                    text-align: center;
                    font-family: $primary-font-b;
                    color: $white;
                    display: none;
                    opacity: 0;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '';
                        display: block;
                        width: 22px;
                        height: 22px;
                        background: $black;
                        z-index: -1;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .nav-menu-btn {
        position: absolute;
        width: 22px;
        height: 25px;
        top: 25px;
        right: 20px;
        z-index: 99;
        border: none;
        background: transparent;
        overflow: hidden;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $white;
            transition: all 0.3s;
        }
        span:nth-child(1) {
            top: 0;
            left: 0;
            width: 100%;
        }
        span:nth-child(2) {
            top: 8px;
            left: 0;
            width: 50%;
        }
        span:nth-child(3) {
            top: 8px;
            right: 0;
            width: 50%;
        }
        span:nth-child(4) {
            top: 16px;
            right: 0;
            width: 100%;
        }
        &:hover span {
            animation: glitchBox 0.5s;
        }
        &:hover span:nth-child(2),
        &:hover span:nth-child(3) {
            width: 20%;
        }
    }
    .nav-black-c {
        span {
            background: $black;
        }
    }
}

.clearfix {
    clear: both!important;
}

/* SEARCH SECTION */

.search-section {
    position: fixed;
    z-index: 999999;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 33px 0;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0);
    .search-section-close-btn {
        @include btn-reset();
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 99;
        transition: all 0.3s;
    }
    h3 {
        position: relative;
        text-align: center;
        font-family: $primary-font-b;
        padding: 0;
        margin: 0;
        font-size: 27px;
    }
    #search-form {
        position: relative;
        margin: 0;
        width: 100%;
        input[type=search] {
            background: transparent;
            display: inline-block;
            outline: none;
            border: none;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 16px 10px;
            border-bottom: 1px solid $black;
            width: 100%;
            font-size: $body-font;
            text-transform: uppercase;
        }
        input[type="submit"] {
            @include btn-style($white, $black);
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            opacity: 0;
            visibility: hidden;
            width: 100px;
            height: 52px;
            padding: 14px;
            font-size: 14px;
            cursor: pointer;
            outline: none;
            font-family: $body-font;
        }
    }
}

/* LOGIN SECTION */

.login-section {
    position: fixed;
    z-index: 999999;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 33px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    .login-section-close-btn {
        @include btn-reset();
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 99;
    }
    h3 {
        position: relative;
        text-align: center;
        font-family: $primary-font-b;
        padding: 0;
        margin: 0;
        font-size: 27px;
    }
    #login-form {
        position: relative;
        display: block;
        margin: 30px auto 0 auto;
        width: 320px;
        input[type=email],
        input[type=password] {
            background: transparent;
            display: inline-block;
            outline: none;
            border: none;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 12px 10px;
            margin: 15px 0 5px 0;
            border-bottom: 1px solid $black;
            width: 100%;
            font-size: $body-font;
            text-transform: uppercase;
        }
        input[type=submit] {
            @include btn-style($white, $black);
            position: relative;
            display: block;
            width: 100%;
            height: 52px;
            padding: 14px;
            font-size: 14px;
            margin: 20px 0 0 0;
            cursor: pointer;
            outline: none;
            font-family: $body-font;
        }
        .forgot-pass-link {
            font-family: $body-font;
            font-size: 12px;
            color: $black;
            text-align: right;
            transition: all 0.3s;
            text-decoration: none;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    .create-account-link {
        font-family: $body-font;
        display: inline-block;
        font-size: 14px;
        color: $black;
        margin: 20px 0 0 0;
        text-align: center;
        transition: all 0.3s;
        text-decoration: none;
        &:hover {
            opacity: 0.5;
        }
    }
}

/* SIZING and SHIPPING INFO  SECTION */

.sizing-info-section,
.shipping-info-section {
    position: fixed;
    z-index: 999999;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 33px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    .sizing-info-section-close-btn,
    .shipping-info-section-close-btn {
        @include btn-reset();
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 99;
    }
    h3 {
        position: relative;
        text-align: center;
        font-family: $primary-font-b;
        padding: 0;
        margin: 0;
        font-size: 27px;
    }
    p {
        font-size: 14px;
        padding: 40px 0 0 0;
    }
    .sizing-table {
        position: relative;
        margin: 50px 0 20px 0;
        font-size: 14px;
    }
    .more-sizing-info {
        font-size: 13px;
        text-align: center;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $black;
            transition: all 0.3s;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

/* BAG SECTION */

.bag-section {
    position: fixed;
    z-index: 999999;
    top: -100%;
    left: 0;
    width: 100%; //height: auto;
    padding: 33px 0;
    display: none;
    background: rgba(255, 255, 255, 0.95);
    transition: height 0.3s;
    h3 {
        position: relative;
        text-align: center;
        font-family: $primary-font-b;
        padding: 0;
        margin: 0;
        font-size: 27px;
    }
    .bag-section-close-btn {
        @include btn-reset();
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 99;
    }
    ul.items-bag {
        position: relative;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        li.item-column-bag {
            position: relative;
            width: 100%;
            height: 120px;
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            div {
                display: block;
                float: left;
                padding: 0;
                margin: 0;
            }
            .product-img-bag {
                position: relative;
                width: 30%;
                img {
                    display: block;
                    width: 180px;
                }
            }
            .description {
                position: relative;
                text-align: left;
                margin: 20px 0 0 0;
                width: 30%;
                .product-name {
                    font-family: $primary-font-b;
                    font-size: 20px;
                    text-align: left;
                }
                .product-color-name {
                    font-family: $primary-font-l;
                    font-size: 20px;
                    text-align: left;
                    margin: 0;
                }
                .size {
                    font-family: $body-font;
                    font-size: 12px;
                    text-align: left;
                    margin: 0;
                }
            }
            .quantity {
                position: relative;
                text-align: left;
                margin: 20px 0;
                width: 20%;
                p {
                    font-family: $body-font;
                    font-size: 14px;
                    text-align: left;
                    padding: 5px 0 0 0;
                    margin: 0;
                }
                .product-quantity {
                    position: relative;
                    width: 120px;
                    height: 40px;
                    margin: 5px auto;
                    .decr-btn {
                        @include btn-reset();
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 40px;
                        height: 40px;
                        font-size: 22px;
                        z-index: 9;
                    }
                    .incr-btn {
                        @include btn-reset();
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 40px;
                        height: 40px;
                        font-size: 22px;
                        z-index: 9;
                    }
                    .quantity-input {
                        position: relative;
                        width: 100%;
                        height: 40px;
                        border: none;
                        background: transparent;
                        border-bottom: 1px solid $black;
                        text-align: center;
                        outline: none !important;
                    }
                }
            }
            .price {
                position: relative;
                text-align: left;
                margin: 20px 0 0 0;
                width: 19%;
                p {
                    font-family: $body-font;
                    font-weight: 700;
                    font-size: 14px;
                    text-align: right;
                    padding: 5px 0 0 0;
                    margin: 0;
                }
            }
        }
        li.total-bag-column {
            position: relative;
            width: 100%;
            height: 60px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            .calculation {
                width: 100%;
                padding: 15px 0;
                h5 {
                    font-family: $primary-font-b;
                    padding: 0 20px;
                    display: inline;
                    font-size: 18px;
                }
                .total,
                .shipping {
                    position: relative;
                    float: right;
                    p {
                        font-family: $body-font;
                        font-weight: 700;
                        font-size: 14px;
                        text-align: right;
                        padding: 5px 10px 0 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    .checkout-finish {
        position: relative;
        float: right;
        width: 220px;
        .continue-btn {
            position: relative;
            display: block;
            width: 100%;
            padding: 12px;
            margin: 20px 0 0 0;
            @include btn-style($white, $black);
        }
        .shipping-note {
            padding: 20px 0;
            p {
                font-size: 12px;
            }
            a {
                font-size: 12px;
                color: $black;
                opacity: 0.5;
                width: 100%;
                display: block;
                text-decoration: none;
                transition: all 0.3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

/* MODAL NAVIGATION */

.menu-modal-wrapper {
    position: fixed;
    z-index: 999999999;
    //background: rgba(255, 255, 255, 0.95);
    background: $white;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    .menu-modal-close-btn {
        position: absolute;
        top: 22px;
        right: 17px; 
        @include btn-reset();
    }
    .menu-nav-list {
        position: relative;
        list-style: none;
        margin: 200px auto;
        padding: 0;
        li.menu-item {
            text-align: center;
            padding: 15px 0;
            opacity: 0;
            a {
                font-family: $primary-font-b;
                color: $black;
                font-size: 42px;
                letter-spacing: 10px;
                text-decoration: none;
                &:hover span {
                    opacity: 0.7;
                    animation: glitch-anim-text 3s infinite;
                }
            }
            button {
                position: relative;
                display: inline-block;
                background: transparent;
                border: none;
                margin: 0 10px;
                &:hover i {
                    animation: glitchTxt 0.3s;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
    .nav-img-list {
        position: absolute;
        left: 50px;
        top: 100px;
        list-style: none;
    }
}

.open-img-menu {
    opacity: 1;
    transform: translateX(10px);
}

.desktop-hide-cls {
    display: none;
}

/* COLOR CLASSES */

.white-c-svg {
    fill: $white !important;
}

.white-c-txt {
    color: $white !important;
}

.black-c-txt {
    color: $black !important;
}

.black-c-svg {
    fill: $black !important;
}

/* PLACEHOLDER */

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: $grey-light;
    opacity: 0.7 !important;
}

/* MAIN SECTION */

.main-section {
    position: relative;
    width: 100%;
    height: 100%; //MAIN PAGE PRODUCTS
    .main-title {
        position: relative;
        font-family: $primary-font-b;
        padding: 120px 0 0 0;
        font-size: 45px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 7px solid $black;
            border-right: 50px solid transparent;
        }
    }
    .center-pos {
        text-align: center !important;
        &:after {
            bottom: -10px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
    }
    .left-pos {
        text-align: left !important;
        padding: 120px 0 0 0;
        margin: 0 0 0 33px;
        &:after {
            bottom: -10px;
            left: 0;
        }
    }
    .main-banner {
        position: relative;
        margin: 50px auto;
        width: calc(100% - 66px);
        height: 0px;
        overflow: hidden;
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    /* VIDEO CONTAINER */
    .video-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        video#bgvid {
            position: absolute;
            top: -99999;
            left: -99999;
            bottom: -99999;
            right: -99999;
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0 auto;
        }
    } //VIDEO BUTTONS
    .main-video-btn-wrapper {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: 999;
        .main-video-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            color: $white;
            font-size: 76px;
            font-family: $primary-font-b;
            text-decoration: none;
            transform: translate3d(-50%, -50%, 0);
            span {
                opacity: 0.3;
                transition: all 0.3s;
            }
            &:hover span {
                animation: glitch-anim-text 3s;
                opacity: 1;
            }
        }
    }
    .left-wrapper {
        left: 0;
    }
    .right-wrapper {
        right: 0;
    } //SNEACKERS WRAPPER
    .products-main-wrapper {
        position: relative;
        width: 100%;
        padding: 0 0 50px 0;
        .main-section-product {
            position: relative;
            display: block;
            width: 100%;
            padding: 20px 0;
            text-transform: none;
            text-decoration: none;
            color: $black;
            .product-img {
                position: relative;
                display: block;
                width: 80%;
                margin: 0 auto;
            }
            &:hover img {
                transform: translate3d(0, -10px, 0);
            }
            &:hover .product-main-info,
            &:hover .price-main-info,
            &:hover .available-size {
                opacity: 1;
            }
            img {
                position: relative;
                width: 220px;
                display: block;
                margin: 0 auto;
                transition: all 0.5s ease-out;
            }
            .discount-marker {
                position: absolute;
                left: 33px;
                top: 20px;
                font-size: 12px;
                color: $red;
                font-family: $body-font;
            }
            .product-main-info {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: center;
                transition: all 0.5s ease-out;
                opacity: 0;
                .product-name-main {
                    width: 100%;
                    font-family: $primary-font-b;
                    text-align: center;
                    font-size: 18px;
                    margin: 0;
                    padding: 0;
                    color: $black;
                }
            }
            .price-main-info {
                position: relative;
                width: 100%;
                text-align: center;
                font-weight: 700;
                margin: -2px 0 0 0;
                transition: all 0.5s ease-out;
                opacity: 0;
                span {
                    position: relative;
                    font-size: 12px;
                    padding: 0 5px;
                    display: inline-block;
                    font-family: $body-font;
                }
                .old-price {
                    color: $grey;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $grey;
                    }
                }
            }
            .available-size {
                position: relative;
                text-align: center;
                padding: 0;
                opacity: 0;
                transition: all 0.5s;
                p {
                    width: 100%;
                    font-family: $primary-font-b;
                    text-align: center;
                    font-size: 18px;
                    margin: 0 0 -5px 0;
                    padding: 0;
                    color: $black;
                }
                span {
                    position: relative;
                    padding: 0 1px;
                    margin: 0;
                    display: inline-block;
                    font-size: 10px;
                    font-family: $body-font;
                }
                .no-size {
                    color: $grey;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $grey;
                    }
                }
            }
        }
    } //MUSIC BUTT0N
    .music-list-wrapper {
        position: absolute;
        bottom: 50px;
        right: 20px;
        width: 40px;
        height: 40px;
        z-index: 999;
        &:before {
            content: attr(data-name);
            position: absolute;
            top: -90px;
            left: -40px;
            color: #888;
            opacity: 0.5;
            transform: rotate(-90deg);
            width: 120px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        .sound-btn {
            display: block;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: $black;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 33px;
                height: 33px;
                transform: translate3d(-50%, -50%, 0) rotate(45deg);
                border: 1px solid $white;
            }
            &:hover {
                animation: glitchTxt 0.5s;
            }
            i {
                color: $white;
                font-size: 18px;
                text-align: center;
                display: block;
                position: absolute;
                left: 14px;
                top: 8px;
            }
        }
    }
}

/* BANNER CAROUSEL */
.banner-carousel {
    .carousel-inner {
        width: 100%;
        height: 100%;
        .wrapper-banner-product {
            position: relative;
            width: 100%;
            height: 100vh;
            min-height: 700px;
            .banner-product-item {
                position: relative;
                display: block;
                margin: 100px auto;
                width: 80%;
                text-decoration: none!important;
                color: $black;
                &:hover .banner-price-text-holder {
                    opacity: 1;
                    transform: translateY(10px);
                }
                img {
                    width: 100%;
                }
                .banner-price-text-holder {
                    position: absolute;
                    top: 10%;
                    left: 0;
                    opacity: 0;
                    transition: all 0.3s;
                    h5 {
                        font-family: $primary-font-b;
                        font-size: 28px;
                    }
                    p {
                        font-size: 14px;
                    }
                    span {
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }

        }
    }
}
//CAROUSEL ARROWS
.carousel-control-prev-icon {
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    width: 14px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* ABOUT SECTION */

.about-section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    .about-bck {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0) scale(1.2);
        img {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.3;
        }
    }
    .main-title {
        position: relative;
        font-family: $primary-font-b;
        padding: 120px 0 0 0;
        font-size: 45px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 7px solid $black;
            border-right: 50px solid transparent;
        }
    }
    p {
        position: relative;
        font-size: 14px;
        text-align: center;
        width: 80%;
        margin: 20px auto;
        padding: 50px 0 100px 0;
    }
    .mar100 {
        margin-top: 150px;
    }
    /* .about-img-effect2 {
        animation: glitch-anim-1 4s infinite;
        opacity: 0.3!important;
    } */
}

/* CLASSIC SECTION */
.classic-section {
    position: relative;
    width: 100%;
    height: 100%; //MAIN PAGE PRODUCTS
    padding: 50px 0 100px 0;
    .main-title {
        position: relative;
        font-family: $primary-font-b;
        padding: 120px 0 30px 0;
        font-size: 45px;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 7px solid $black;
            border-right: 50px solid transparent;
        }
    } 
    p {
        font-size: 14px;
        line-height: 24px;
    }
    h3 {
        font-size: 22px;
        font-weight: 700;
    }
    ul {
        padding: 0 0 0 20px;
        li {
            font-size: 14px;
            line-height: 24px;
        }
    }
    .card {
        border-radius: 0;
        border: none;
        background: transparent!important;
    }
    .card-header {
        padding: 10px 0;
        background: transparent!important;
    }
    .collapse-btn {
        color: $black;
        text-decoration: none!important;
        padding: 10px 0;
        font-weight: 700;
    }
    a {
        color: $black;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        transition: all 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }
    /* COLLECTION BANNER */
    .collection-banner {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 30px 0;
        &:hover {
            opacity: 0.8;
        }
        img {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .collection-banner-txt {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 50%;
            left: 0;
            transform: translate3d(0,-50%,0);
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .black-c {
            color: $black!important;
        }
        .white-c {
            color: $white!important;
        }
    }
    //COLLECTION PRODUCT
    .collection-product-link {
        position: relative;
        display: block;
        width: 100%;
        height: 400px;
        background: rgba(0, 0, 0, 0.03);
        text-decoration: none!important;
        margin: 30px 0 0 0;
        &:hover {
            opacity: 0.8;
        }
        &:hover .coll-product-txt {
            opacity: 1;
        }
        &:hover img {
            transform: translate3d(-50%,calc(-50% - 10px),0);
        }
        img {
            position: absolute;
            display: block;
            width: 70%;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            transition: all 0.3s;
        }
        .coll-product-txt {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: all 0.3s;
            .coll-product-name {
                font-family: $primary-font-b;
                font-size: 16px;
                text-transform: capitalize;
                width: 100%;
                text-align: center!important;
                margin: 0;
            }
            .coll-product-price {
                font-size: $body-font;
                font-weight: 300;
                font-size: 12px;
                width: 100%;
                text-align: center;
            }
        }
    }
    //COLLECTION IMG
    .coll-img {
        position: relative;
        width: 100%;
        margin: 30px 0 0 0;
        img {
            width: 100%;
        }
    }
}

/* VR SECTION */
.vr-section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    #vr-button {
        position: absolute;
        display: block;
        bottom: 150px;
        right: 20px;
        z-index: 99999;
    }
    .a-enter-vr-button {
        right: 10px;
        bottom: 15px;
        padding: 20px 30px;
        background: url(../img/vr-icon.svg) no-repeat rgba(255,255,255,0);
        background-position: center;
        border: 1px border $black!important;
        transition: all 0.3s;
        &:hover {
            background: url(../img/vr-icon.svg) no-repeat rgba(255,255,255,0.3);
            background-position: center;
        }
    }
    .vr-info-btn-txt {
        position: absolute;
        display: block;
        bottom: 49px;
        right: 100px;
        z-index: 99999;
        font-size: 10px;

    }
}

/*SIDE MENU PRODUCTS*/

.products-side-section {
    position: fixed;
    width: 300px;
    height: 100%;
    background: rgba(255, 255, 255, 0.96);
    top: 0;
    left: -300px;
    z-index: 9999;
    padding: 0 0 50px 0;
    .products-section-close-btn {
        position: absolute;
        top: 21px;
        right: 21px;
        z-index: 999;
        @include btn-reset();
    }
    .gredient-bck {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 240px;
        z-index: 7;
        @include gredient-white();
    }
    .products-side-link {
        position: relative;
        width: 100%;
        height: 100px;
        padding: 10px;
        text-align: center;
        z-index: 8;
        button {
            @include btn-reset();
            margin: 60px 0 0 0;
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            font-size: 12;
            display: inline-block !important;
            padding: 0 25px;
            color: #000000;
            letter-spacing: 4px;
            opacity: 0.5;
            transition: all 0.3s;
            &:hover {
                opacity: 1;
            }
        }
        .active-link {
            opacity: 1;
        }
    }
    .products-side-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 150px 0 30px 0;
        overflow-y: scroll;
        .side-section-product {
            position: relative;
            width: 100%;
            height: auto;
            padding: 30px 0 0 0;
            display: block;
            text-decoration: none !important;
            color: $black;
            &:hover img {
                transform: translate3d(0, -10px, 0);
            }
            &:hover .product-side-info,
            &:hover .price-side-info,
            &:hover .available-size {
                opacity: 1;
            }
            img {
                position: relative;
                width: 220px;
                display: block;
                margin: 0 auto;
                transition: all 0.5s ease-out;
            }
            .discount-marker {
                position: absolute;
                left: 33px;
                top: 20px;
                font-size: 12px;
                color: $red;
                font-family: $body-font;
            }
            .product-side-info {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                text-align: center;
                transition: all 0.5s ease-out;
                opacity: 0;
                .product-name-side {
                    width: 100%;
                    font-family: $primary-font-b;
                    text-align: center;
                    font-size: 18px;
                    margin: 0;
                    padding: 0;
                    color: $black;
                }
            }
            .price-side-info {
                position: relative;
                width: 100%;
                text-align: center;
                margin: -2px 0 0 0;
                font-weight: 700;
                transition: all 0.5s ease-out;
                opacity: 0;
                span {
                    position: relative;
                    font-size: 12px;
                    padding: 0 5px;
                    display: inline-block;
                    font-family: $body-font;
                }
                .old-price {
                    color: $grey;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $grey;
                    }
                }
            }
            .available-size {
                position: relative;
                text-align: center;
                padding: 0 5px;
                opacity: 0;
                transition: all 0.5s;
                p {
                    width: 100%;
                    font-family: $primary-font-b;
                    text-align: center;
                    font-size: 18px;
                    margin: 0 0 -5px 0;
                    padding: 0;
                    color: $black;
                }
                span {
                    position: relative;
                    font-size: 14px;
                    padding: 0 1px;
                    margin: 0;
                    display: inline-block;
                    font-size: 11px;
                    font-family: $body-font;
                }
                .no-size {
                    color: $grey;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $grey;
                    }
                }
            }
        }
    }
}

/* MAIN PRODUCT PAGE */

//GRID
.grid-wrapper {
    width: 100%!important;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    transition: all 0.3s;
    /* .grid-item {
        
    } */
}

.grid-3 {
    grid-template-columns: 33% 33% 33%!important;
}
.grid-2 {
    grid-template-columns: 50% 50%!important;
}

.filter-row-wrapper {
    position: relative;
    width: 100px;
    margin: 0 0 0 20px;
    .row-3-btn,
    .row-4-btn {
        @include btn-reset();
        position: relative;
        width: 40px;
        display: inline-block;
        transition: all 0.3s;
        opacity: 0.5;
        img {
            position: relative;
            display: block;
            width: 100%;
        }
        &:hover {
            opacity: 1;
        }
        
    }
    .active {
        opacity: 1!important;
    }
    .divider-btn-filter-row {
        position: relative;
        display: inline-block;
        width: 1px;
        height: 20px;
        background: $grey;
    }

}


.product-main-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    
    .product-header-title {
        position: fixed;
        top: 114px;
        left: 103px;
        transition: all 0.3s;
        .main-product-name {
            font-family: $primary-font-b;
            font-size: 36px;
            padding: 0;
            margin: 0;
        }
        .main-product-subname {
            font-family: $primary-font-l;
            font-size: 21px;
            padding: 0;
            margin: 0;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -15px;
                left: 0;
                width: 0;
                height: 0;
                border-top: 7px solid $black;
                border-right: 36px solid transparent;
            }
        }
    }
    .product-scroll-wrapper {
        position: relative;
        width: 72%;
        height: auto;
        padding: 180px 0 0 0;
        .main-product-img-scroll {
            position: relative;
            display: block;
            width: 72%;
            padding: 0 0 120px 0;
            margin: 0 auto;
        }
    } //PRODUCT INFO FUNC WRAPPER
    .product-info-func-wrapper {
        position: fixed;
        top: 130px;
        right: 50px;
        width: calc(28% - 50px);
        z-index: 99;
        transition: all 0.3s;
        .choose-color-btn,
        .choose-size-btn {
            position: relative;
            display: inline-block;
            padding: 12px 0;
            width: 49%;
            text-align: center;
            color: $black;
            border: 1px solid $black;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            text-decoration: none;
            &:hover {
                animation: glitchTxt 0.3s;
            }
        }
        .choose-size-btn {
            margin: 0 0 0 -4px;
            border-left: 0px solid $black;
        }
        .short-description {
            font-family: $body-font;
            font-size: 13px;
            padding: 20px 20px 0 0;
            margin: 0;
        }
        .price-add-to-cart-wrapper {
            position: relative;
            width: 240px;
            margin: 20px 0 0 0;
            .main-product-price {
                display: block;
                padding: 12px;
                width: 100%;
                text-align: center;
                color: $black;
                border: 1px solid $black;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
            }
            .add-to-cart-btn {
                @include btn-style($white, $black);
                width: 100%;
                padding: 12px;
                font-size: 13px;
                margin: 0 0 15px 0;
                &:hover {
                    animation: glitchTxt 0.3s;
                }
            }
        }
        .share-wrapper {
            position: relative;
            margin: 10px 0;
            a {
                display: inline-block;
                margin: 0 5px 0 5px;
                color: $black;
                text-decoration: none;
                transition: all 0.3s;
                padding: 5px;
                &:hover {
                    opacity: 0.5;
                }
            }
            .link-copy-btn {
                @include btn-reset();
                display: inline-block;
                font-size: 12px;
                text-transform: uppercase;
                transition: all 0.3s;
                &:hover {
                    opacity: 0.5;
                }
            }
            .share-btn-link {
                display: none;
                opacity: 0;
            }
        }
    }
    .product-full-description {
        position: relative;
        width: 72%;
        padding: 90px 0 100px 100px;
        h3 {
            font-family: $primary-font-b;
            font-size: 27px;
        }
        p {
            font-size: 13px;
            padding: 0 30px 0 0;
        }
    }
}

/* PRODUCT PAGE BUTTONS */

.more-info-btn,
.sizing-info-btn,
.shipping-info-btn,
.share-page-btn {
    position: relative;
    display: block;
    margin: 0;
    padding: 8px 0 0 0;
    font-family: $body-font;
    font-size: 13px;
    color: $black!important;
    text-transform: uppercase;
    text-decoration: none!important;
    letter-spacing: 2px;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
        opacity: 0.5;
    }
}
.share-wrapper {
    position: relative;
    margin: 10px 0;
    a {
        display: inline-block;
        margin: 0 5px;
        color: $black;
        text-decoration: none;
        transition: all 0.3s;
        padding: 5px;
        &:hover {
            opacity: 0.5;
        }
    }
    .link-copy-btn {
        @include btn-reset();
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.3s;
        &:hover {
            opacity: 0.5;
        }
    }
}


/* PRODUCT PAGE RESPONSIVE ADD TO CART */
.responsive-wrapper-cart {
    position: fixed;
    width: 100%;
    height: 130px;
    background: $white;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    z-index: 99999;
    .responsive-product-functions {
        width: 100%;
        text-align: center;
        .choose-color-btn,
        .choose-size-btn {
            position: relative;
            display: inline-block;
            padding: 12px 0;
            width: 30%;
            text-align: center;
            color: $black;
            border: 1px solid $black;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            text-decoration: none;
            &:hover {
                animation: glitchTxt 0.3s;
            }
        }
        .choose-size-btn {
            margin: 0 0 0 -4px;
        }
    }
    .responsive-price-add-to-cart-wrapper {
        width: 100%;
        text-align: center;
        .main-product-price {
            position: relative;
            display: inline-block;
            padding: 12px 0;
            font-size: 13px;
            width: 30%;
            text-align: center;
            border: 1px solid $black;
            border-top: 1px solid $white;
        }
        .add-to-cart-btn {
            @include btn-style($white, $black);
            width: 100%;
            font-size: 13px;
            &:hover {
                animation: glitchTxt 0.3s;
            }
            position: relative;
            display: inline-block;
            padding: 12px 0;
            width: 30%;
            text-align: center;
            border: 1px solid $black;
            background: $black;
            color: $white;
            margin: 0 0 0 -4px;
        }
    }
}

.fade-element {
    opacity: 0;
    visibility: hidden;
}

/* CHOOSE SIZE SECTION */

.sizes-wrapper,
.colors-wrapper {
    position: fixed;
    top: 0;
    right: -70px;
    width: 70px;
    height: 100%;
    background: rgba(255, 255, 255, 0.96);
    z-index: 999;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    .sizes-section-close-btn,
    .colors-section-close-btn {
        @include btn-reset();
        position: fixed;
        top: 54px;
        right: 25px;
        z-index: 99;
    }
    ul.choose-size,
    ul.choose-color {
        width: 30px;
        height: 100%;
        display: block;
        list-style: none;
        margin: 120px auto;
        padding: 0;
        li {
            padding: 18px 0;
            .color {
                @include btn-reset();
                display: block;
                width: 20px;
                height: 20px;
                background: #eee;
                transform: rotate(45deg);
                margin: 0 auto;
                cursor: pointer;
                padding: 0!important;
                transition: all 0.3s;
                &:hover {
                    opacity: 0.6;
                }
            }
            .size {
                @include btn-reset();
                display: block;
                width: 20px;
                height: 20px;
                text-align: center !important;
                font-family: $body-font;
                font-size: 15px;
                padding: 0!important;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    ul.filter-sizes {
        margin: 90px 0 0 10px;
    }
}

/* FILTER SIDE SECTION */

.filter-side-wrapper {
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    left: -120px;
    background: rgba(255, 255, 255, 0.96);
    z-index: 9999;
    text-align: center;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.1);
    .filter-section-close-btn {
        @include btn-reset();
        position: absolute;
        top: 22px;
        right: 20px;
        z-index: 99;
    }
    ul.filter-sizes,
    ul.filter-colors {
        width: 30px;
        height: 100%;
        float: left;
        display: block;
        list-style: none;
        margin: 90px 0 0 30px;
        padding: 0;
        li {
            padding: 18px 0;
            .color {
                @include btn-reset();
                display: block;
                width: 20px;
                height: 20px;
                background: #eee;
                transform: rotate(45deg);
                cursor: pointer;
                transition: all 0.3s;
                padding: 0!important;
                margin: 0!important;
                overflow: hidden;
                &:hover {
                    opacity: 0.6;
                }
            }
            .size {
                @include btn-reset();
                display: block;
                width: 20px;
                height: 20px;
                text-align: center;
                font-family: $body-font;
                font-size: 15px;
                cursor: pointer;
                transition: all 0.3s;
                padding: 0!important;
                margin: 0!important;
                overflow: hidden;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
    ul.filter-sizes {
        margin: 90px 0 0 10px;
    }
}

.active-color-filter {
    opacity: 0.5 !important;
    border: 1px solid $black !important;
}

.active-size-filter {
    opacity: 0.5 !important;
    text-decoration: underline;
}

/* FOOTER */

.footer-section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 20px 100px 20px !important;
    z-index: 9;
    background: rgba(0, 0, 0, 0.03);
    .footer-nav {
        position: relative;
        width: 100%;
        ul {
            position: relative;
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                padding: 10px 15px;
                a {
                    display: inline-block;
                    color: $black;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 11px;
                    text-decoration: none;
                    transition: all 0.3s;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .footer-nav-social {
        position: relative;
        width: 80%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 10px 15px;
            a {
                display: inline-block;
                color: $black;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 11px;
                text-decoration: none;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    #newsletter-form {
        position: relative;
        display: block;
        width: 400px;
        margin: 80px auto;
        input[type="email"] {
            position: relative;
            width: 100%;
            height: 52px;
            padding: 14px;
            outline: none;
            border: 1px solid $grey;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
            &:focus {
                border: 1px solid $black;
            }
        }
        input[type="submit"] {
            position: absolute;
            text-align: center;
            width: 120px;
            right: 0;
            top: 0;
            height: 52px;
            padding: 14px;
            font-size: 14px;
            cursor: pointer;
            font-family: $body-font;
            @include btn-style($white, $grey);
        }
    }
    .copyright {
        position: absolute;
        text-align: center;
        bottom: 10px;
        width: 100%;
        left: 0;
        font-size: 12px;
    }
}

/*6ICSPEREINCE AUDIO BTN*/
.audio-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 120px;
    height: 40px;
    z-index: 99;
    cursor: pointer;
    span {
        position: absolute;
        left: 35px;
        top: 5px;
        font-size: 10px;
        
    }
}

.bars {
    overflow: hidden;
    display: inline-block;
    height: 20px;
    width: 30px;
    margin: 0 auto;
    position: relative;
    
}

.bar {
    height: 1px;
    width: 3px;
    display: inline-block;
    background: $black;
    bottom: 0;
    position: absolute;
    &.noAnim {
        animation: none;
        animation-name: none;
    }
    &#bar-1 {
        left: 0;
        animation-name: danceHeight1;
        animation-delay: 0ms;
    }
    &#bar-2 {
        left: 6px;
        animation-name: danceHeight2;
        animation-delay: 300ms;
    }
    &#bar-3 {
        left: 12px;
        animation-name: danceHeight3;
        animation-delay: 600ms;
    }
    &#bar-4 {
        left: 18px;
        animation-name: danceHeight4;
        animation-delay: 900ms;
    }
    animation-duration: 500ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes danceHeight1 {
    from {
        height: 1px;
    }
    to {
        height: 22px;
    }
}

@keyframes danceHeight2 {
    from {
        height: 1px;
    }
    to {
        height: 15px;
    }
}

@keyframes danceHeight3 {
    from {
        height: 1px;
    }
    to {
        height: 18px;
    }
}

@keyframes danceHeight4 {
    from {
        height: 1px;
    }
    to {
        height: 20px;
    }
}

/* RESPONSIVENESS */

@import 'media.scss'