@media screen and (max-width: 1200px),
screen and (max-height: 1000px) {}

@media (max-width: 991px) {

    //MAIN NAVIGATION
    .main-nav {
        .nav-items {
            width: 55px;
            right: 99px;

            .search-btn,
            .login-btn {
                display: none;
            }
        }
    }

    .desktop-hide-cls {
        display: block !important;
    }

    .menu-modal-wrapper {
        .menu-nav-list {
            margin: 150px auto !important;

            li.menu-item {
                a {
                    font-size: 27px;
                    letter-spacing: 6px;
                }
            }
        }

        .nav-img-list {
            display: none;
        }
    }

    //PRODUCT PAGE
    .product-info-func-wrapper {
        display: none;
    }

    .product-scroll-wrapper {
        position: relative;
        width: 100% !important;
    }

    .product-full-description {
        position: relative;
        width: 100% !important;
        padding: 90px 0 100px 100px;
    }

    /* ABOUT PAGE */
    .about-section {
        height: 100%;
    }
}

@media (max-width: 767px) {
    .main-section {
        .main-video-btn-wrapper {
            .main-video-btn {
                font-size: 36px;
            }
        }
    }

    /* GRID */
    .filter-row-wrapper {
        display: none;
    }

    .grid-wrapper {
        grid-template-columns: 33% 33% 33% !important;
    }

    /* BAG SECTION */
    .bag-section {
        ul.items-bag {
            .product-img-bag {
                position: relative;
                width: 30%;

                img {
                    width: 100px !important;
                }
            }

            .description {
                position: relative;
                text-align: left;
                margin: 20px 0 0 0;
                width: 30%;

                .product-name {
                    font-size: 14px !important;
                }

                .product-color-name {
                    font-size: 12px !important;
                }

                .size {
                    font-size: 8px !important;
                }
            }

            .quantity {
                display: none !important;
            }

            .price {
                width: 39% !important;

                p {
                    font-size: 12px !important;
                    padding: 5px 5px 0 0 !important;
                }
            }
        }
    }

    /* SNEAKER WRAPPER */
    .products-main-wrapper {
        .main-section-product {

            .product-main-info,
            .price-main-info,
            .available-size {
                opacity: 1 !important;
            }
        }
    }
}

@media (max-width: 630px) {

    //PRODUCT PAGE
    .product-main-wrapper {
        .product-header-title {
            left: 30px;
        }
    }

    .product-full-description {
        position: relative;
        width: 100% !important;
        padding: 90px 0 100px 30px !important;
    }

    .responsive-wrapper-cart {
        .responsive-product-functions {

            .choose-color-btn,
            .choose-size-btn {
                width: 40% !important;
            }
        }

        .responsive-price-add-to-cart-wrapper {
            .main-product-price {
                width: 40% !important;
            }

            .add-to-cart-btn {
                width: 40% !important;
            }
        }
    }

    /* GRID */
    .grid-wrapper {
        grid-template-columns: 50% 50% !important;
    }

    /* BANNER CAROUSEL */
    .banner-carousel {
        .carousel-inner {
            .wrapper-banner-product {
                min-height: 600px;
                .banner-product-item {
                    padding: 150px 0 0 0;

                    img {
                        width: 100%;
                    }
                    .banner-price-text-holder {
                        position: absolute;
                        top: 10%;
                        left: 0;
                        opacity: 1;
                        transition: all 0.3s;
                        h5 {
                            font-family: $primary-font-b;
                            font-size: 22px;
                        }
                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                        span {
                            display: block;
                            font-size: 10px;
                            margin: 15px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {

    /* BAG SECTION */
    .bag-section {
        height: 100%;
    }

    /* PRODUCT PAGE */
    .responsive-wrapper-cart {
        height: auto;
        padding: 0;

        .responsive-product-functions {
            .choose-color-btn {
                width: 49% !important;
                border-left: 1px solid $white;
                border-right: 1px solid $white;
                border-top: 1px solid $white;
                border-bottom: 1px solid $grey;
            }

            .choose-size-btn {
                width: 50% !important;
                border-right: 1px solid $white;
                border-left: 1px solid $grey;
                border-top: 1px solid $white;
            }
        }

        .responsive-price-add-to-cart-wrapper {
            .main-product-price {
                width: 49% !important;
                border: 1px solid $white;
            }

            .add-to-cart-btn {
                width: 50% !important;
            }
        }
    }

    /* FOOTER */
    footer {
        #newsletter-form {
            width: 95% !important;

            input[type="submit"] {
                font-size: 12px !important;
            }
        }
    }
}

@media (max-width:350px) {
    .menu-modal-wrapper {
        .menu-nav-list {
            margin: 100px auto !important;
        }

        .nav-img-list {
            display: none;
        }
    }
}