@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wi7516');
  src:  url('fonts/icomoon.eot?wi7516#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wi7516') format('truetype'),
    url('fonts/icomoon.woff?wi7516') format('woff'),
    url('fonts/icomoon.svg?wi7516#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-footer:before {
  content: "\e902";
}
.icon-location:before {
  content: "\e903";
}
.icon-music-on:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-playlist:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-sneacker:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-vr:before {
  content: "\e90a";
}

